/*se resetean los margenes los márgenes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cambio de fuente y color de fondo*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/*estilo para header*/
header {
    background-color: #1a1a1a; /* Un color oscuro elegante */
    color: white;
    padding: 20px;
    text-align: center;
}

/*estilo para el menú de navegación */
nav {
    margin-top: 15px;
}

/*estilo de los enlaces (botones menu)*/
nav a {
    color: white;
    text-decoration: none; /* Le quita la línea fea de abajo a los enlaces */
    margin: 0 15px; /* Los separa un poco entre sí */
    font-size: 16px;
}

/*efecto estetico para botones(cambio de color al pasar cursor*/
nav a:hover {
    color: #00d2ff; /* Cambia a celeste al pasar el cursor */
}

/*estilo del Banner principal */
.banner {
    background-color: #e0e0e0;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 30px;
}

/*Contenedor de los productos*/
.contenedor-productos {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*Ddiseño de la tarjeta del producto */
.tarjeta-producto {
    background-color: white;
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 220px;
}

.tarjeta-producto img {
    width: 100%;
    border-radius: 5px;
}

/*botón de añadir al carrito */
.tarjeta-producto button {
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.tarjeta-producto button:hover {
    background-color: #00d2ff;
    color: #1a1a1a;
}